/* .table {
  margin: 0 auto;
  margin-top: 150px;
  width: 1300px;
  color: gold;
  background: radial-gradient(at top, #111616, #204c9c);
  border: 3px solid rgb(241, 214, 60);
  font-size: 30px;
}

.table th {

  padding: 40px 15px;
  color: gold;
  font-size: 15px;
  border-bottom: solid #ffd300;
  border: 2px solid rgb(198, 211, 20);
  text-align: center;
  font-size: 30px;
}

.table td {
  color: gold;
  padding: 7px;
  border-bottom: solid #ffd300;
  border: 2px solid rgb(198, 211, 20);
  text-align: center;


}

.table a {
  color: gold;
  text-decoration: none;
} */

